/* * {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1127px;
    height: 416px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}
.customers__image_block{
    display: flex;
}
.customers__image{

} */