@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: #000
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

.container {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

body {
    font-family: 'Roboto', serif;
}

.b {
    border: 1px solid red;
}

/* HEADER */
.main-header {
    margin-top: 35px;
}

.main-header__block {
    display: flex;
}

.main-header__img {
    border: none;
}

.main-header__list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.main-header__item {
    margin-left: 40px;
}

.main-header__link {
    text-decoration: none;
    color: #000
}

.main-header__btn {
    width: 161px;
    height: 52px;
    margin-left: auto;
    margin-top: 6px;
    border: none;
    cursor: pointer;
    transition: border 0.3s ease;
    background: #0082f4;
    border-radius: 6px;
}

.main-header__btn:hover {
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;
}

.main-header__btn_content {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

/* HERO */
.hero {
    margin-top: 90px;
}

.hero__block {
    display: flex;
}

.hero__content {
    max-width: 531px;
    max-height: 341px;
    margin-top: 80px;
}

.hero__title {
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0080fd;
}

.hero__sub_title {
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    color: #000;
}

.hero__sub_title_busines {
    font-size: 60px;
    line-height: 130%;
    color: #0082f4;
}

.hero__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    opacity: 0.6;
}

.hero__btns {
    margin-top: 30px;
    gap: 30px;
    display: flex;
}

.hero__btn_get {
    width: 194px;
    height: 63px;
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
    background-color: #0082f4;
    border: none;
}

.hero__btn_video {
    border: 1px solid #0082f4;
    border-radius: 10px;
    width: 188px;
    height: 63px;
    margin-left: 119px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* opacity: 0.1; */
}

.hero__btn_video_text {
    font-weight: 500;
    font-size: 16px;
}

.hero__img {
    margin-left: auto;
}

/* ABOUT */
.about {
    margin-top: 150px;
}

.about__block {
    display: flex;
}

.about__img {
    width: 486px;
    height: 486px;
}

.about__content {
    margin-left: auto;
    max-width: 503px;
    max-height: 359px;
    margin-top: 95px;
}

.about__title {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0082f4;
}

.about__sub_title {
    font-weight: 700;
    font-size: 49px;
    line-height: 130%;
    color: #000;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000;
    opacity: 0.6;
}

.about__btn {
    width: 193px;
    height: 63px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    background: #0082f4;
    border: none;
}

/* WORK */
.work {
    margin-top: 210px;
}

.work__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    color: #000;
    text-align: center;
    margin-bottom: 80px;
}

.work__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work__item {
    text-align: center;
}

.work__item_img {
    margin-bottom: 75px;
}

.work__item_title {
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #000;
}

.work__item_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #000;
    opacity: 0.7;
}

/* CUSTOMER */
.customer {
    margin-top: 134px;
}

.customer__header_block {
    display: flex;
}

.customer__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    color: #000;
    margin-bottom: 60px;
}

.customer__btns {
    display: flex;
    max-width: 140px;
    max-height: 50px;
    margin-left: auto;
    gap: 40px;
    justify-content: center;
}

.customer__list {
    display: flex;
}

.customer__item {
    display: flex;
    border: 1px solid #0082f4;
    border-radius: 10px;
    max-width: 420px;
    max-height: 283px;
}

.customer__image_block {
    position: relative;
    max-width: 63px;
    border-radius: 10px 10px 0 10px;
    background-color: #0082f4;
}

.customer_image {
    position: absolute;
    border: 2px solid #fff;
    border-radius: 40px;
    width: 65px;
    height: 65px;
    background: #c4c4c4;
}

/* SIGN-UP */
.sign-up {
    margin-top: 176px;
}

.sign-up__title {
    font-weight: 500;
    font-size: 31px;
    text-align: center;
    color: #058aff;
}

.sign-up__sub_title {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #000;
    opacity: 0.7;
    margin-bottom: 35px;
}

.sign-up__email_input {
    display: flex;
    width: 487px;
    height: 82px;
    border: 1px solid #058aff;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sign-up__email_icon {
    padding: 10px;
}

.sign-up__send_email {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    opacity: 0.6;
}

.sign-up__send {
    border-radius: 10px;
    width: 102px;
    height: 52px;
    background: #0082f4;
}

/* FOOTER */

.footer {
    max-width: 1600px;
    max-height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FOOTER-INFO */
.footer-info {
    display: flex;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
}

.footer-info__list {
    max-width: 1100px;
    max-height: 218px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.footer-info__item_logo {
    max-width: 139px;
    max-height: 149px;
    margin-right: 153px;
}

.footer-info__itemresource {
    max-width: 188px;
    max-height: 218px;
    margin: 105px;
}

.footer-info__sub_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000;
    opacity: 0.7;
}

.footer-info__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: #000;
}





/* FOOTER-SOCIAL */
.footer-social {
    max-width: 1600px;
    max-height: 449px;
    display: flex;
    background: linear-gradient(180deg, #058aff 0%, rgba(57, 55, 206, 0.87) 62.83%);
}

.footer-social__block {
    display: flex;
}